.main-header {
  padding: var(--space-medium);
  background-color: var(--color-white);
  color: var(--color-dark-red);
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.main-header .logo {
  margin-right: 0.9rem;
  max-width: 9rem;
  height: auto;
}

@media (min-width: 767px) {
  .main-header {
    font-size: 1.7rem;
  }
}

@media (max-width: 375px) {
  .main-header {
    font-size: 1.1rem;
  }
}


@media (orientation: landscape) and (max-width: 737px) {
  .main-header .logo {
    width: 40px;
  }
}
